<h1>Which One Wins?</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h3><%= @characters[0].name %></h3><br>
      <img src='<%= @characters[0].image %>' width=400 height=500>
    </div>
    <div class="col">
      <h3><%= @characters[1].name %></h3><br>
      <img src='<%= @characters[1].image %>' width=400 height=500>
    </div>
  </div>
</div>
