<body class="about">
<h1 class="text-center">Rules, Regulations, FAQs</h1>

<p>Finally, a way to see who's the most likely winner in a random comic match up! Gone are the days of arguing what preparation one hero would need to achieve victory over a clearly superior foe. The days of cold, hard, subjective choice are here!!</p>

<p>You're presented with 2 choices. Click the person you think would win in a fight between them! It's that easy! Don't over think it, just vote!</p><br>
<iframe src="https://giphy.com/embed/J7jsbfcJ2O5eo" width="480" height="358" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<br>
<br>
<p>
  Maybe you're asking, why are these people fighting?? THAT'S NOT IMPORTANT! What's important is who YOU think would win!
</p>
<br>
Visit the leaderboard for the current rankings!
</body>
