@import "bootstrap";

body  {
  background-image: url('ring.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 5vw;
}
h3 {
  color: white;
  text-shadow: 10px 10px 15px #000000;
  font-family: "Marker Felt";
  font-weight: bold;
  font-style: italic;
  font-size: 3.5vw;
}
